<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>struts2 HelloWorld</display-name>
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
    </filter>								<!-- FilterDispatcher가 struts.xml을 호출하는 역할 -->
    <filter-mapping>
        <filter-name>struts2</filter-name> <!-- struts2를 찾아감 -->
        <url-pattern>/*</url-pattern> <!-- 주소를 다 잡아줌 (*.do) 등도 가능 -->
    </filter-mapping>
</web-app>